{
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
